

<h1 class="text-center" style="margin-top:200px; margin-bottom:200px;">
    @ViewBag.CheckoutCompleteMessage <br />
    <a href="/orders/orders" class="btn btn-primary text-center">View Orders</a>
</h1>
