@model ShoppingCartViewModel


    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
        
                  <p class="form-control form-control-sm bg-secondary border-0 text-center">@line.Amount</p>
                   
    }
